<div ng-app="stcu_app" ng-controller="controladorParadas">

    <div ng-hide="editando">
      <p class="titulo">Parada</p>
      <div class="row">
            <div class="col-md-8">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Codigo</th>
                    <th>Direccion</th>
                    <!--<th><button ng-click="nuevoCliente()" class="btn btn-sm btn-default">Nuevo</button></th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="parada in paradas">
                    <td></td>
                    <td>{{parada.codigo}}</td>
                    <td>{{parada.direccion}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    </div>
